<nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
  <div class="container">
    <div class="navbar-brand">취업하조</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item"><a href="/" class="nav-link">홈페이지</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">포트폴리오 공유 게시판</a></li>
        <li class="nav-item"><a href="/posts" class="nav-link">졸업 작품 아카이브</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">분야별 회사 정보 공유</a></li>
        
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if(isAuthenticated && (value == '1')){ %>
          <% if(admin == "woojin") { %>
            <li class="nav-item"><a href="/admin" class="nav-link">회원승인</a></li>
            <li class="nav-item"><a href="/admin/management" class="nav-link">회원추방</a></li>
           <% } %>
          <li class="nav-item"><a href="/users/<%= currentUser.username %>" class="nav-link">내 계정</a></li>
          <li class="nav-item"><a href="/logout" class="nav-link">로그아웃</a></li>
        <% } else { %>
          <li class="nav-item"><a href="/users/new" class="nav-link">회원가입</a></li>
          <li class="nav-item"><a href="/login" class="nav-link">로그인</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
