<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">포트폴리오 공유 게시판</h2>

      <P>여기는 포트폴리오 올리는 페이지</p>

    </div>
  </body>
</html>
